bs4
fastapi
faster-whisper
langchain
langchain-ollama
langchain_community
langchain-google-vertexai
langchain-google-genai
langserve
librosa
markdown
ollama
pydub
pymongo
pymupdf
python-magic
python-multipart
redis
requests
sse_starlette
torch
transformers
unstructured
uvicorn
yt_dlp
