bs4
fastapi
langchain
langchain_community
langchain-ollama
langchain-google-vertexai
langchain-google-genai
librosa
markdown
pydub
pymongo
pymupdf
python-magic
python-multipart
redis
requests
sse_starlette
unstructured
